<!--
  TRMNL Solar System Viewer — Quadrant Layout
  Compact solar system diagram.
-->
<div class="layout layout--col gap--space-between">
  <div class="columns">
    <div class="column">
      <span class="title title--small">Planets</span>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <img src="data:image/svg+xml;base64,{{ img_quad }}" width="300" height="210" />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <span class="label label--gray">{{ date }}</span>
    </div>
  </div>
</div>
